.background-homescreen {
  background-image: url("./material/background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  /* ビューポート全幅 */
  height: 100vh;
  /* ビューポート全高 */

  /* 子要素を中央配置 */
  display: flex;
  flex-direction: column;
  /* 必要なら縦並び */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Group8 {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column; /* 子要素を縦並びに */
  align-items: center; /* 中央寄せ */
  position: relative;
}

.title-frame {
  background-repeat: no-repeat;
  background-image: url("./material/title-frame.png");

  display: flex;
  width: 100%;
  height: 20vh;

  max-width: 50vw;

  background-size: contain;
  /* 元の比率を保ちながら表示 */
  background-position: center;
  /* 画像を中央に配置 */
}

.to-login-screen-button {
  display: flex;
  position: absolute;
  right: 5vw;
  top: 5vh;
  background-repeat: no-repeat;
  background-image: url('./material/GenericAvatar.png');
  background-position: center;
  background-size: 60%;

  width: 9vw; /* 画面幅に応じて変わる */
  max-width: 150px; /* 最大サイズを制限 */
  height: auto; /* アスペクト比を維持 */
  aspect-ratio: 1/1; /* 正方形ならこれ */

  background-color: transparent;
  outline: none;
  border: none;
}

.to-logout-btn{
  display: flex;
  position: absolute;
  right: 3vw;
  top: 2vh;
  cursor: pointer;
    background-color: black;
    border-radius: 20px;
}

.to-logout-btn button{
  cursor: pointer;
  background-color: black;
  border-radius: 20px;
}

.to-logout-btn p {
  font-size: clamp(1rem, 2vw, 2rem);
  color: white;
  font-family: Yuji Mai, serif;
  margin: 0;
  background:none;
}

@keyframes slideLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.Group9 {
  display: flex;
  justify-content: center;
  /* 水平方向の中央揃え */
  flex-wrap: wrap;
  /* 画面が狭くなったら折り返し */
  gap: 10px;
  /* 画像同士の間隔 */
  padding: 0;
  width: 100vw;
  height: 20vh;
  /* 親要素に合わせて幅を設定 */

}

.Group9>* {
  display: flex;
  flex-grow: 1;
  /* 余ったスペースを均等に分ける */
  flex-shrink: 1;
  /* 親要素が縮小したときに縮む */
  width: 100%;
  /* 幅を100%に設定し、親に合わせて伸縮 */
  max-width: 15vw;
  /* 最大幅を248pxに制限 */
  /* 高さは自動調整 */
  box-sizing: border-box;
  /* パディングやマージンがサイズに影響しないように */

  background-repeat: no-repeat;
  background-size: contain;
  /* 画像全体を表示 */
  background-position: center;
  /* 親要素の幅に応じてスケール */
  aspect-ratio: 248/165;
  /* アスペクト比を維持 */
}

.image2,.okonomiyaki,.image4,.image5,.image6{
  width: 20vw;
  height: 20vh;
  position: relative;
}


.image2 {
  display: flex;
  background-image: url("./material/titlePicture/garetto.png");
}

.okonomiyaki {
  display: flex;
  background-image: url("./material/titlePicture/okonomiyaki.png");
}

.image3 {
  display: flex;
  background-image: url("./material/titlePicture/soba.png");
}

.image4 {
  display: flex;
  background-image: url("./material/titlePicture/taiayaki.png");
}

.image5 {
  display: flex;
  background-image: url("./material/titlePicture/takoyaki.png");
}

.image6 {
  display: flex;
  background-image: url("./material/titlePicture/udon.png");
}

.avatar-homescreen {
  background-image: url("./material/3DAvatar.png");
  display: flex;
  justify-content: center;
  
  width: 100%;
  height: 100%;

  position: relative;
  z-index: 1;

  min-width: 500px;
  max-width: 15vw;

  background-repeat: no-repeat;

  scale: 2;
  background-size: contain;
  background-position: center;
}

.Group10 {
  display: flex;
  gap: 1px;
}

.camera-icon,
.to-picture-book-button,
.image-icon {
  display: flex;
  /*背景透過*/
  background-color: transparent;
  /*ボタンの縁を消し去るもの(以下の2つ)*/
  outline: none;
  border: none;
}

.camera-icon,
.image-icon {
  justify-content: start;
  background-position: center;
  background-size: contain;
  width: 8vw;
  height: 10vh;
}

.camera-icon {
  background-repeat: no-repeat;
  background-image: url("./material/CameraIcon.png");
}

.image-icon {
  background-repeat: no-repeat;
  background-image: url("./material/ImageIcon.png");
}

.webcam {
  margin: auto;
  width: 80%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.text-input {
  position: relative;
  z-index: 2;

  justify-content: center;
  display: flex;
  min-width: 50vw;
  width:60vw;
  height: auto;
  align-items: center;
  border-radius: 20px;
  /* 角を大きく丸くする */
  font-size: 30px;
  /* フォントサイズを適切に設定 */
}

/* プレースホルダー（初期状態の文字）のサイズを大きくする */
.text-input::placeholder {
  font-size: 30px;
  color: black;
  /* プレースホルダーの色（必要なら変更可） */
}

.send-icon {
  display: flex;
  position:absolute;
  top: 1%;
  right: clamp(10vw, 10%, 40vw);
  justify-content: start;
  background-position: center;
  background: none;
  width: 10vw;
  height: auto;
  border-radius: 50%;
  outline: none;
  border: none;

  z-index: 3;
}

.buttons {
  width: 100vw;
  height: 90vh;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center; /* 中央に配置 */
  gap: 20vw; /* ボタン間の隙間を調整 */
}

.to-fortune-telling-button {
  display: flex;
  position: absolute;
  outline: none;
  border: none;
  background: none;
  justify-content: center;
  align-items: center;
}

.to-picture-book-button {
  display: flex;
  position: absolute;
  background-position: center;
  justify-content: center;
  align-items: center;
}


  /* 縦長画面の場合 */
 @media (orientation: portrait) {
  .send-icon {
    top: clamp(64vh,65%,60vh);
    right: clamp(12vw,16%,20vw);
  }

  .to-fortune-telling-button {
    right: clamp(10%,30vw,40%);
    bottom: 15vh;
    width: 20vw;
    height: auto;
  }

  .to-fortune-telling-button img{
    width:  clamp(40%,60vw,70%);
    height: auto;
   }

  .to-picture-book-button {
    right: clamp(8%,10vw,10%);
    bottom: 15vh;
    width: 20vw;
    height: auto;
  }

  .to-picture-book-button img{
    width:  clamp(50%,70vw,90%);
    height: auto;
   }

 }

 /* 横長画面の場合 */
 @media (orientation: landscape) {
  .send-icon {
    top: clamp(67%,66vh,64%);
    right: clamp(5%,10vw,15%);
  }

  .to-fortune-telling-button {
    right: 15vw;
    bottom: 6vh;
    width: 20vw;
    height: auto;
  }

  .to-fortune-telling-button img{
    width:  10vw;
    height: auto;
   }

  .to-picture-book-button {
    right: 1vw;
    bottom: 8vh;
    width: 20vw;
    height: auto;
  }

  .to-picture-book-button img{
    width:  10vw;
    height: auto;
   }

 }

